doctype html(app)
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-view)

      h1= title
      p Welcome to #{title}

  script(src='/bower_components/angular/angular.js')
  script(src='/bower_components/angular-ui-router/release/angular-ui-router.js')

  script(src='/words/controllers/index.js')
  script(src='/words/services/word.js')
  script(src='/words/controllers/routes.js')

  script(src='/app.js')